<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/pages/pro2styles.css">
    <link rel="icon" type ="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>InterestNews: Home</title>
  </head>

<header class="top-nav">
 
      <div><a id="logo" href="index.html"rel="nav"><img src="src/pages/imgspro2/InterestNewsLogo.svg" alt="Interest News Logo"></a>
      </div>
      <button><img id="toggle-nav" src="src/pages/imgspro2/menuicon.svg" alt="hamburger"></button>
      <div><a id='logged-in' href="logout.html">Logout</a></div>
    </header>
รง
  <body class="">

    <div class="search-container"><form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>

    <main>
      <nav>
      <ul>
      <li><a href="health.html"rel="nav">Health</a></li>
      <li><a href="business.html"rel="nav">Business</a></li>
      <li><a href="transportation.html"rel="nav">Transportation</a></li>
      <li><a href="politics.html"rel="nav">Politics</a></li>
      <li><a href="education.html"rel="nav">Education</a></li>
      <li><a id='logout' href="logout.html"rel="nav">Logout</a></li>
      </ul>
      </nav>
    </main>

  <div>
  <h2>Business 'Final-ly' went Bankrupt</h2>
  </div>
<div><p>by Mary M. Murdock</p>
<p>May 26th, 2019</p>
<p>279 Comments</p></div>

  <script>
    const navToggleBtn = document.getElementById('toggle-nav')
    
    navToggleBtn.addEventListener('click', function (){
      document.body.classList.toggle('nav-open')
    })
  </script>

  
  </body>
</html>