.top-nav{
    display: flex;
  }
  img{
    padding: 10px;
  }
  header{
    display: block;
  }

  #toggle-nav{
    background-color: white;
    width: 30px;
    display: none;
  }
  
  button, button:focus{
    outline: none;
    background: transparent;
    width: 60px;
    height: 60px;
    border: none;
  }
  
  button:active{
    outline: none;
    background: transparent;
    background-color: rgb(255, 255, 255);
  }
  
  .search-container{
    display: inline;
    margin-left: 300px;
    vertical-align: middle;
  }
  
  .search-container a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .search-container input[type=text] {
    padding: 30px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px; color: black;
  }
  
  .search-container button {
    vertical-align: center;
    align-items: center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(255, 254, 254);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  
  #logo{
    padding: 10px;
    display:inline;
  }
  
  nav{
      display: inline-block;
      text-align: center;
      width: 1440px;
      background-color: #D75252;
      padding: 10px
  }
  
  nav ul{
      display: inline;
      text-decoration: none;
  }
  
  nav li{
      display: inline;
      font-family: 'myfont';
      flex: 0;
  }
  
  nav a{
      margin: 30px;
      font-size: x-large;
      text-decoration: none;
      color: rgb(255, 255, 255);
  }
  
  a:hover{
      color: #eeff00;
      -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: black;
  }
  
  h1{
    text-align: left;
    margin-left: 200px;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
      margin: 0;
      display: block;
      width: 100px
    }
  
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }

    #logo{
      display: inline;
      width: 10px;
      padding: 0;
    }
    header{
      display: inline-block;
    }

    nav{
      display: none;
      width: 250px;
      text-align: center;
      background-color: #D75252;
      text-align: center;
      padding: 0;
    }
  
    nav ul{
      display: block;
      text-decoration: none;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
    }
  
    nav li{
      display: block;
      font-family: 'myfont';
      flex: 0;
    }
  
    nav a{
      margin: 0;
    }

    body.nav-open nav{
    display: block;
    }

    #toggle-nav{
    display: block;
    width: 50px;
    padding: 0;
    }
}