.top-nav{
    display: flex;
  }
  @font-face {
    font-family: 'myfont';
    src: url(imgspro2/Signika_Negative/SignikaNegative-VariableFont_wght.ttf)
}
  img{
    padding: 10px;
    width: 150px;
  }
  header{
    display: block;
  }
  .images{
    width: 600px;
    margin-right: 50px;
  }

  #toggle-nav{
    background-color: white;
    width: 30px;
    display: none;
  }

  #logout{
    display: none;
  }

  #logged-in{
    display: inline;
    position: absolute;
    top: 50px;
    right: 40px;
    font-family: 'myfont';
    border: 1px;
  }

  button, button:focus{
    padding: 0;
    display: inline;
    float: end;
    outline: none;
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
  }
  
  button:active{
    outline: none;
    background: transparent;
    background-color: rgb(255, 255, 255);
  }
  
  .search-container{
    display: inline;
    vertical-align: middle;
    position: absolute;
    top: 30px;
    right: 200px;
  }
  
  .search-container a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
  }
  
  .search-container input[type=text] {
    font-size: 17px;
    border: 1px; color: black;
    margin: 0;
    width: 200px;
    margin: 10px;
    padding: 10px;
  }
  
  .search-container button {
    align-items: center;
    background: rgb(255, 254, 254);
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: 0;
  }
  
  .search-container button:hover {
    background: #ccc;
    margin: 0;
  }
  
  #logo{
    padding: 10px;
    display:inline;
  }
  
  nav{
      display: inline-block;
      text-align: center;
      width: calc(100% - 20px);
      background-color: #D75252;
      padding: 10px;
  }
  
  nav ul{
    text-align: center;
      display: inline;
      text-decoration: none;
  }
  
  nav li{
    text-align: center;
    display: inline;
    font-family: 'myfont';
    flex: 0;
  }
  
  nav a{
    text-align: center;
    font-family: 'myfont';
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  nav a:hover{
      color: #eeff00;
      -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: black;
  }

  
  h1{
    text-align: left;
    margin-left: 50px;
    font-family: 'myfont';
  }

article{
  width: 600px;
}

.content{
  display: flex;
  margin: 40px;
  font-family: 'myfont';
}

body{
  margin: 0;
}

  @media screen and (max-width: 700px) {
    h1{
      margin-left: 10px;
    }
    article{
      margin-left: 10px;
      width: 400px;
    }
    .search-container {
      position:relative;
      display: inline;
      top: 10px;
      left: 5px;
    }

    .search-container input[type=text] {
      padding: 20px;
    }

    button, button:focus{
      padding: 0;
      display: inline;
      float: end;
      margin: 0;
    }
    .top-nav{
      margin: 0;
    }

    #logo{
      display: inline;
      width: 10px;
      padding: 0;
    }
    header{
      display: inline;
    }

    nav{
      display: none;
      width: 304px;
      text-align: center;
      background-color: #D75252;
      text-align: center;
      padding: 0;
    }
  
    nav ul{
      display: block;
      text-decoration: none;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
        }
  
    nav li{
      display: block;
      font-family: 'myfont';
      flex: 0;
    }
  
    nav a{
      margin: 0;
    }

    body.nav-open nav{
    display: block;
    }

    #toggle-nav{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    padding: 0;
    }

    #logout{
      display: inline;
    }
    #logged-in{
      display: none;
    }
    .content{
      display: block;
      margin: 40px;
    }
    
}