<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/pages/pro2styles.css">
    <link rel="icon" type ="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>InterestNews: Transportation</title>
  </head>

<header class="top-nav">
 
      <div><a id="logo" href="index.html"rel="nav"><img src="src/pages/imgspro2/InterestNewsLogo.svg" alt="Interest News Logo"></a>
      </div>
      <button><img id="toggle-nav" src="src/pages/imgspro2/menuicon.svg" alt="hamburger"></button>
      <div><a id='logged-in' href="logout.html">Logout</a></div>
    </header>
  <body class="">

    <div class="search-container"><form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>

    <main>
      <nav>
      <ul>
      <li><a href="health.html"rel="nav">Health</a></li>
      <li><a href="business.html"rel="nav">Business</a></li>
      <li><a href="transportation.html"rel="nav">Transportation</a></li>
      <li><a href="politics.html"rel="nav">Politics</a></li>
      <li><a href="education.html"rel="nav">Education</a></li>
      <li><a id='logout' href="logout.html"rel="nav">Logout</a></li>
      </ul>
      </nav>
    </main>

  <div>
  <h1>Featured Transportation</h1>
  </div>
  <div class="content">
    <a href="articlepage.html">
    <img class="images" src="src/pages/imgspro2/surjaunsplash.webp" alt="School Bus in Snow Image">
    </a>
    <article>
    <a href="articlepage.html">
    <h2>3 School Buses block roadway due to snow</h2>
    </a>
    Three school buses were found
    blocking a roadway today in a
    residential area due to heavy snowfall.
    The buses were heading to a local
    school when they became stuck in a snowdrift,
    blocking the entire road.
    <div><a href="articlepage.html">Read More</a></div>
    </article>
    </div>
    
    <div class="content">
      <a href="articlepage.html">
      <img class="images" src="src/pages/imgspro2/egorunsplash.webp" alt="Car in Snow Image">
      </a>
      <article>
      <a href="articlepage.html">
      <h2>Snow has caused 3 crashes this morning</h2>
      </a>
      Heavy snowfall has caused
      chaos on the roads, with
      three separate crashes reported
      in the past few hours. The first
      crash involved two vehicles
      colliding on a major highway,
      causing traffic to come to a standstill.
      <div><a href="articlepage.html">Read More</a></div>
      </article>
      </div>


  <script>
    const navToggleBtn = document.getElementById('toggle-nav')
    
    navToggleBtn.addEventListener('click', function (){
      document.body.classList.toggle('nav-open')
    })
  </script>

  
  </body>
</html>