<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>InterestNews: Home</title>
  </head>
  <header>
  <a id="logo" href="index.html"rel="nav"><img src="images/InterestNewsLogo.svg" alt="Collager Logo"></a>

        <nav>
        <ul>
        <li><a href="health.astro"rel="nav">Health</a></li>
        <li><a href="business.astro"rel="nav">Business</a></li>
        <li><a href="transportation.astro"rel="nav">Transportation</a></li>
        <li><a href="politics.astro"rel="nav">Politics</a></li>
        <li><a href="education.astro"rel="nav">Education</a></li>
        </ul>
        </nav>
        
</header>

<style>

#logo{
  padding: 10px;
  display:flex
}

    nav{
    display: inline-block;
    width: 1440px;
    background-color: #D75252;
    padding: 10px
}

nav ul{
    display: inline;
    text-decoration: none;
}

nav li{
    display: inline;
    font-family: 'myfont';
    flex: 0;
}

nav a{
    margin: 30px;
    font-size: x-large;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: #eeff00;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}
body{
  text-align: center;
}
h1{
  text-align: left;
  margin-left: 200px;
}
</style>

  <body>
    <h1>Featured News</h1>
  </body>
</html>